/* src/index.css */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
    /* Couleur de fond pour le contenu principal */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: border-box;
}

/* Styles spécifiques pour le Layout (barre latérale) */
.MuiDrawer-paper {
    background-color: #19d279 !important;
    /* Couleur de la sidebar */
}

.sidebar-link {
    color: white !important;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Styles pour les cards du dashboard */
.dashboard-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}